[project]
	description = Cam Software
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Ricky (jasondews)
[access "refs/for/refs/*"]
	read = group user/Ricky (jasondews)
	push = group user/Ricky (jasondews)
	label-Code-Review = -2..+2 group user/Ricky (jasondews)
	label-Verified = -1..+1 group user/Ricky (jasondews)
	rebase = group user/Ricky (jasondews)
	removeReviewer = group user/Ricky (jasondews)
	submit = group user/Ricky (jasondews)
[access "refs/heads/*"]
	read = group user/Ricky (jasondews)
	create = group user/Ricky (jasondews)
	push = +force group user/Ricky (jasondews)
	pushMerge = group user/Ricky (jasondews)
[access "refs/tags/*"]
	push = group user/Ricky (jasondews)
	push = +force group user/Ricky (jasondews)
